<div class="content">
    <form #diagnosisForm="ngForm" class="diagnosis-form" (ngSubmit)="onSubmit()">

          <mat-form-field getValue class="form-full-width">
            <mat-label>Diagnoza</mat-label>
            <textarea [ngModelOptions]="{standalone: true}"  [(ngModel)]="oldDesc" (ngModelChange)="onTextChange($event)"  id="desc" class="description" matInput>{{oldDesc}}</textarea>
          </mat-form-field>
    
          <button [matDialogClose] type="submit" mat-raised-button *ngIf="activeButton == true">Zapisz</button>
          <button mat-stroked-button disabled *ngIf="activeButton == false">Zapisz</button>
    </form>
        
</div>
