

.diagnosis-form {
    width: 100%;
    padding: 20px;
    height: auto;
    
  }

  .buttons {
    margin-top: 80px;
  }
  
  .form-full-width {
    width: 100%;
    
  }

  .description {
    min-height: 300px;
  }
