.error {
	color: #D8000C;
	background-color: #FFBABA;
    border: 1px solid;
	margin: 10px auto;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	max-width: 460px;
}
.main {
	padding: 20px;
	margin: auto;
	width: 50%;
	
}

.menu {
	position: fixed;
	width: 100%;
	top: 0;
	z-index:999;
}

.menu-buttons {
	float: right;
	margin-left: 10px;
}

.example-spacer {
	flex: 1 1 auto;
  }

  .content {
	padding: 150px;
	
	
  }
  .bottom {
	position: absolute;
    bottom: 0;
    width: 100%;
  }

  .app{
	position: relative;
	min-height: 120%;
  }

  .login-tab {
	width: 40%;
	display: block;
  margin-left: auto;
  margin-right: auto;
  }

  /*.menuLogin{
	width: auto;
  }

  .mat-mdc-menu-panel {
	min-width: 450px;
  }

  ::ng-deep {  
	.mat-mdc-menu-panel {  
	  max-width: unset !important;  
	  min-width: 450px !important;
	} 
  } */