<div class="app">
  <app-header [pageTitle]="'Laboratorium medyczne'" 
  [logoSrc]="'assets/images/logo.png'"/>

  <!--<app-content (examinations)="examinations"/>-->

  <div>
    <app-buttons *ngIf="componentToShow != 'login'"
      
      (logoutEvent)="showComponent('login')"
    />
  
    
    <app-login-form *ngIf="componentToShow == 'login'" (onSubmitLoginEvent)="onLogin($event)" (onSubmitRegisterEvent)="onRegister($event)"/>
  
    <div *ngIf="showError" class="error">{{message}}</div>
  
    
    <div *ngIf="componentToShow == 'restricted'" class="main">
        <h1>Dodaj nowe badanie</h1>
        <app-examination-input (newDataEvent)="appendData($event)"/>
        <app-examination-wrapper *ngFor="let examination of examinations" 
        (removeItemEvent)="removeItem($event)"
        [examination] = "examination"/>
  </div>
  
  </div>
  
</div>

