<div class="app">
  <app-header [pageTitle]="'Laboratorium medyczne'" 
  [logoSrc]="'assets/images/logo.png'"/>

  <!--<app-content (examinations)="examinations"/>-->

  <div>
    <app-buttons *ngIf="componentToShow != 'login'"
      
      (logoutEvent)="showComponent('login')"
    />
  
    
    <app-login-form *ngIf="componentToShow == 'login'" (onSubmitLoginEvent)="onLogin($event)" (onSubmitRegisterEvent)="onRegister($event)"/>
  
    <div *ngIf="showError" class="error">{{message}}</div>
  
    <app-auth-content *ngIf="componentToShow == 'messages'"/>
  
    <app-examination-display *ngFor="let examination of examinations" 
    [examination] = "examination"/>
  
  </div>
  
</div>

