<div class="app">
   
  <div class="menu">
  <p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Laboratorium medyczne</span>
        <span class="example-spacer"></span>
        <span class="example-spacer"></span>
        <div class="menu-buttons">
          <button *ngIf="isAuthenticated == false" (click)="onLoginTab()" mat-flat-button color="primary">Dla lekarza</button>
          <button *ngIf="isAuthenticated == true" (click)="onLogout()" mat-flat-button color="primary">Wyloguj się</button>
         <!-- <button *ngIf="isAuthenticated == true" (click)="onAddTab()" mat-flat-button color="primary">Dodaj nowe badanie</button>-->
          <button *ngIf="isAuthenticated == true" (click)="onPatientsTab()" mat-flat-button color="primary">Pacjenci</button>
          <button *ngIf="isAuthenticated == false" (click)="onShopTab()" mat-flat-button color="primary">Oferta</button>
          <button *ngIf="isAuthenticated == false" (click)="onResultTab()" mat-flat-button color="primary">Wyniki badań</button>
          <button *ngIf="isAuthenticated == false" (click)="onBucketTab()" mat-flat-button color="primary">Koszyk</button>
          </div>
        <button (click)="homeIcon()" mat-icon-button color="white" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </mat-toolbar-row>

      
    </mat-toolbar>
  </p>
</div>
 
  <div class="content">
    
    <app-login-form *ngIf="componentToShow == 'login'" (onSubmitLoginEvent)="onLogin($event)" (onSubmitRegisterEvent)="onRegister($event)"/>

  <div class="main">
  <router-outlet></router-outlet>
  </div>
  </div>

<div class="bottom">
  <mat-toolbar color="primary">
    <span>© 2023 Laboratorium medyczne</span>
  </mat-toolbar>
</div>
</div>

