.mat-mdc-form-field + .mat-mdc-form-field {
	margin-left: 8px;
  }

  .dropdown{
    margin-top: 50px;
  }

  ul {
    list-style-type: none;
}

li {
  margin: 20px;
}

.info{
  margin-top: 40px;
}
.patient-info{
  margin-top: 50px;
}