<p *ngFor="let examination of offers">
    <mat-card>
        <mat-card-header>
          <mat-card-title>{{examination.name}}</mat-card-title>
          <mat-card-subtitle>Cena: {{examination.price}} zł</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Opis badania
                </mat-panel-title>
                <mat-panel-description>
                  kliknij, aby rozwinąć
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{examination.description}}</p>
            </mat-expansion-panel>
            
          </mat-accordion>
        </mat-card-content>
        <mat-card-actions align="end">
          <button (click)="addItemToBucket(examination)" mat-button>Dodaj do koszyka</button>
        </mat-card-actions>
    </mat-card>
</p>

