.mat-mdc-form-field + .mat-mdc-form-field {
	margin-left: 8px;
  }

  .main{
    margin-top: 50px;
  }

  .info{
    margin: 20px;
  }

  .card-info{
    box-shadow: 2px 5px 5px #aaaaaa;
  }

  table {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }