<h1>Pacjenci:</h1>
<p *ngFor="let patient of patients">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Pesel: {{patient.pesel}}</mat-card-title>
          <mat-card-subtitle>Imię: {{patient.firstName}}</mat-card-subtitle>
          <mat-card-subtitle>Nazwisko: {{patient.lastName}}</mat-card-subtitle>
          <mat-card-subtitle>Data urodzenia: {{patient.birthDate}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button (click)="showPatientExaminations(patient)" mat-button>Wyniki badań</button>
        </mat-card-actions>
    </mat-card>
</p>
