<h1 mat-dialog-title>Wybierz lekarza</h1>
<div mat-dialog-content>

  <mat-selection-list #doctors [multiple]="false">
    <mat-list-option *ngFor="let doctor of data.doctorList" [value]="doctor">
      dr. {{doctor.firstName}} {{doctor.lastName}}
    </mat-list-option>
  </mat-selection-list>
  <button mat-stroked-button disabled *ngIf="!doctors.selectedOptions.hasValue()">Potwierdź</button>
  <button *ngIf="doctors.selectedOptions.hasValue()" (click)="assignDoctor(data.patientId, doctors.selectedOptions.selected[0].value.id)" mat-flat-button>Potwierdź</button>
  <button mat-flat-button>Anuluj</button>
</div>