<h1 mat-dialog-title>Wybierz plik CSV</h1>
<div mat-dialog-content>

    <input type="file" class="file-input"
    (change)="onFileSelected($event)" #fileUpload>
<div style="margin-top: 10px;">
    <p>Plik musi być w następującym formacie:</p>
    <p>Pierwszy rekord: Nazwa badania; data: dd.mm.rrrr</p>
    <p>parametr; wartość; dolna granica normy; górna granica normy; jednostka np.</p>
    <p>Badanie xyz; 30.12.2020</p>
    <p>Żelazo;10.0;20.0;40.0;μg/dl</p>
    <p>itd.</p>
</div>
<button *ngIf="showSpinner === false" (click)="uploadFile(data.patientId)" mat-flat-button>Wyślij</button>
<mat-spinner [diameter]="40" style="margin-top: 10px;" *ngIf="showSpinner === true"></mat-spinner>
</div>
