<div class="maps" >
    <!-- Left side for Google Maps with width adjustment -->
    <div style="flex: 2; margin-right: 20px;">
      <google-map height="400px" width="100%" [center]="center" [zoom]="zoom">
        <map-marker *ngFor="let position of markerPositions; let i = index" [position]="position" [options]="markerOptions"></map-marker>
      </google-map>
    </div>
  
    <!-- Right side for the menu with margin adjustment -->
    <div class="choose">
      <button mat-button [matMenuTriggerFor]="menu">Wybierz placówkę</button>
      <mat-menu #menu="matMenu">
        <ul>
          <li *ngFor="let lab of labs">
            <button (click)="chooseLab(lab)" mat-menu-item>{{addressList[lab.id].street}} {{addressList[lab.id].postalCode}} {{addressList[lab.id].city}}</button>
          </li>
        </ul>
      </mat-menu>
    </div>
  </div>

<div class="list">
    <p *ngFor="let lab of labs">
        <mat-card>
            <mat-card-header>
              <mat-card-title> {{addressList[lab.id].street}}, {{addressList[lab.id].postalCode}} {{addressList[lab.id].city}}</mat-card-title>
              <mat-card-title> Telefon: {{lab.phone}}</mat-card-title> 
              <mat-card-subtitle>Godziny otwarcia: </mat-card-subtitle>
              <mat-card-subtitle>{{scheduleList[lab.id][0].day}}: {{scheduleList[lab.id][0].openingTime}}-{{scheduleList[lab.id][0].closingTime}} </mat-card-subtitle>
              <mat-card-subtitle>{{scheduleList[lab.id][1].day}}: {{scheduleList[lab.id][1].openingTime}}-{{scheduleList[lab.id][1].closingTime}} </mat-card-subtitle>
              <mat-card-subtitle>{{scheduleList[lab.id][2].day}}: {{scheduleList[lab.id][2].openingTime}}-{{scheduleList[lab.id][2].closingTime}} </mat-card-subtitle>
              <mat-card-subtitle>{{scheduleList[lab.id][3].day}}: {{scheduleList[lab.id][3].openingTime}}-{{scheduleList[lab.id][3].closingTime}} </mat-card-subtitle>
              <mat-card-subtitle>{{scheduleList[lab.id][4].day}}: {{scheduleList[lab.id][4].openingTime}}-{{scheduleList[lab.id][4].closingTime}} </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </p>
</div>
  
  