.choose {
    flex: 1; 
    margin-left: 20px;
}

.maps {
    display: flex; 
    height: 400px;
}

.list {
    margin-top: 70px;
}
mat-card-title {
    margin-bottom: 20px;
}

mat-card-header {
    margin-bottom: 20px;
}

#map {
    height: 100%;
  }